{% extends 'base.html' %}

{% block content %}

<style>
  table {
    border-collapse: collapse;
  }
  /* td {
    border: 1px solid #ccc;
  } */
  th, td {
    padding: 5px;
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #fff;
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }
</style>

  {% block content_header %}
      {% if user.is_authenticated %}
        <h3>Books <a href="{% url 'upload_book' %}" class="fa fa-upload"></a></h3>
      {% endif %}
  {% endblock %}

  <table class="table mb-0">
    <thead>
      <tr>
        <th style="text-align: left;">Cover</th>
        <th style="text-align: left;">Title</th>
        <th style="text-align: left;">Author</th>
        <th style="text-align: center;">Download</th>
        {% if user.is_authenticated %}
        <th style="text-align: center;">Delete</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <td style="vertical-align: middle;">
            {% if book.cover %}
              <img src="{{ book.cover.url }}" alt="{{ book.title }}" style="width:80px;">
            {% else %}
              <span class="text-muted">No cover</span>
            {% endif %}
          </td>
          <td style="vertical-align: middle;">{{ book.title }}</td>
          <td style="vertical-align: middle;">{{ book.author }}</td>
          <td style="text-align: center; vertical-align: middle;">
            <a href="{{ book.pdf.url }}" class="fa fa-download btn btn-primary btn-sm" target="_blank"></a>
          </td>
          {% if user.is_authenticated %}
              <td style="text-align: center; vertical-align: middle;">
                <form method="post" action="{% url 'delete_book' book.pk %}">
                  {% csrf_token %}
                  <button type="submit" class="fa fa-trash-o btn btn-danger btn-sm"></button>
                </form>
              </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
